.announcement {
  position: relative;
  background: #c1efe7;
  transition: 0.2s;
  z-index: 1;

  &__open {
    top: 0;
  }

  a {
    color: white;
    transition: 0.25s ease;

    &:hover {
      opacity: 0.75;
    }
  }

  &__wrapper {
    max-width: 1160px;
    padding: 20px 10px;
    margin: 0 auto;

    &--link {
      cursor: pointer;
      color: black !important;
      text-decoration: underline !important;
    }
  }

  &__title {
    font-size: 21px;
    line-height: 42px;
    text-align: center;
  }
}

.is-boxed {
  background: color(bg, 2);
}

.body-wrap {
  background: color(bg, 1);
  overflow: hidden;
  /* Sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.boxed-container {
  margin: 0 auto;
  @include shadow;
}

main {
  flex: 1 0 auto;
}

.section-inner {
  position: relative; /* To always display inner elements above pseudo decorative stuff */
  padding-top: 48px;
  padding-bottom: 48px;
}

@include media(">medium") {
  .section-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
